body{
    margin: 0;
    
}
.section{
    margin-left: 100px;
}
ul{
   padding-left: 15px;
}
/* intestazione e logo */
#pagetop{
    background-color:rgb(101, 135, 236);
    background-image:url(../img/pattern.png);
    background-size:400px;
    height: 130px;
    }
#logo{
    width: 230px;
    margin-top:68px;
    margin-left: 100px;
}
/* main sezione titolo e figure */
#page-title{
    margin-bottom: 0;
    font-size:xx-large;
}
#page-subtitle{
    margin-top:0;
    margin-bottom: 0;
    font-size:large;
    font-weight: 100;
    color: gray;
}
#page-name{
    color:rgb(101, 135, 236);
}
#page-date{
    margin-top: 0;
    font-weight: 100;
    color: grey;
}
#page-figure{
    margin-left: 0;
}
.fig{
font-size: small;
font-weight: 100;
}
/* main sezione paragrafo lista e tabelle */
.text{
    font-weight: 600;
}
mark{
    background-color: yellow;
    color:black;
}
.cell{
    width: 150px;
}
.third-cell{
    width: 800px;
}
#table-top{
    background-color:rgb(84, 201, 255) ;
    color:white;
}
.odd{
    background-color: rgb(194, 232, 250);
}