body{
    margin: 0;
    
}
.section{
    margin-left: 100px;
}
ul{
   padding-left: 15px;
}
/* intestazione e logo */
header{
    background-color:rgb(101, 135, 236);
    background-image:url(../img/pattern.png);
    background-size:400px;
    height: 130px;
    }
.setting-logo{
    width: 230px;
    margin-top:68px;
    margin-left: 100px;
}
/* main sezione titolo e figure */
h1{
    margin-bottom: 0;
    font-size:xx-large;
}
.setting-subtitle{
    margin-bottom: 0;
    font-size:large;
}
.mt0-w100{
    margin-top:0;
    font-weight: 100;
}
.col-gray{
    color: gray;
}
#page-name{
    color:rgb(101, 135, 236);
}
figure{
    margin-left: 0;
}
.fig{
font-size: small;
font-weight: 100;
}
/* main sezione paragrafo lista e tabelle */
.text{
    font-weight: 600;
}
mark{
    background-color: yellow;
    color:black;
}
.third-cell{
    width: 50%;
}
.table-top{
    background-color:rgb(84, 201, 255) ;
    color:white;
}
.odd{
    background-color: rgb(194, 232, 250);
}
/* aside sezione immagini articoli simili */
#advice{
    margin-top: 50px;
}
#art1{
    background-image: url(../img/monitor.jpg);
}
#art2{
    background-image: url(../img/graph.jpg);
}
.setting-art{
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    color:white;
}